.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    padding: 2%;

    
    /* display: flex;
    background-color: beige;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../photo-1553095066-5014bc7b7f2d.jpg");
    background: no-repeat; 
    background-size: contain;
    width: 1400px;
    height: 1400px;
    border: 2px solid;
    color: pink;
    resize: both;
    overflow-y: hidden;
  
    /* -moz-background-size: 1000px;
    -o-background-size: 1000px;
    background-size: 1000px; */
    /* background-size: cover; */
    /* color: aquamarine;  */

}
input{
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.buttonregister {
    
    width: 100%;
    padding: 12px 20px;
  margin: 12px 0;
    /* background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%; */
  }
  
  button:hover {
    opacity: 0.8;
  }

  .textareastyle{
      resize:none;
  }